@model Web.ViewModels.ProductsSummary

@{
    ViewData["Title"] = "Index";
}

<div>
    <h4>Products Summary</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sum)
        </dd>
    </dl>
</div>

